{% extends 'base.html' %} {% load static %}

{% block title %} Add IRS - SiakNG {% endblock title %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'add_irs.css' %}">
{% endblock head %}

{% block page_title %} Add IRS {% endblock %}
{% block content %}
<div class="container-fluid pb-5">
  <div class="row content">
    <div id="showIsiIrs" style="display: none;">
      {% include 'pengisian_data.html' %}
    </div>
    <div class="spinner-container">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div id="showError" style="display: none;">
      <div class="card p-5">
        <div class="card" id="keterangan">
            <div class="card-header" id="keterangan-judul">
              Keterangan
            </div>
            <div class="card-body" id="keterangan-isi">
              Anda tidak dapat menambahkan IRS karena Masa Add IRS belum dimulai atau sudah berakhir.
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'add_irs.js' %}"></script>
{% endblock script %}