@import url('https://fonts.googleapis.com/css?family=Poppins:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500,600,700&display=swap');

:root {
	--siakng-dark-blue: #304D6C;
	--siakng-pale-blue: #E3F0FE;
	--siakng-ok: #148A2E;
	--siakng-warning: #D9822B;
	--siakng-danger: #DB3737;
	--siakng-unknown: #6C757D;
}

.payment {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0 40px;
	max-width: 100%;
	width: auto;
	font-family: Poppins, Roboto, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.payment > .latest-status {
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 20px;
	margin-block: 10px 20px;
	width: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment .latest-status-table {
	width: 320px;
}

.payment .latest-status-table-row {
	padding-bottom: 5px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.payment .latest-status-table .value {
	flex-shrink: 0;
	line-height: 20px;
}

.payment > .latest-status .header,
.payment > .history .header {
	font-size: 22px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 15px;
	text-align: left;
}

.payment .key {
	font-weight: 500;
	width: 100%;
}

.payment .status {
	font-weight: bold;
}

.payment .status.ok {
	color: var(--siakng-ok);
}

.payment .status.warning {
	color: var(--siakng-warning);
}

.payment .status.danger {
	color: var(--siakng-danger);
}

.payment .status.unknown {
	color: var(--siakng-unknown);
}

.payment > .deadline {
	color: var(--siakng-danger);
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}

.payment > .history {
	margin: 20px 40px 40px 40px;
	padding: 20px;
	text-align: center;
	width: 100%;
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.payment > .history .table-wrapper {
	overflow-x: auto;
}

.payment > .history table {
	width: 100%;
}

.payment > .history thead {
	background-color: var(--siakng-dark-blue);
	color: white;
	border: 1px solid var(--siakng-dark-blue);
}

.payment > .history tbody {
	border: 1px solid rgba(0, 0, 0, 0.4);
	white-space: nowrap;
}

.payment > .history th, .payment > .history td {
	padding: 10px;
	width: auto;
}

.payment > .history tbody tr:nth-child(odd) {
	background-color: var(--siakng-pale-blue); 
}

#history-accordion {
	display: none;
}

#history-accordion .accordion-item {
	border: none;
	border-radius: 5px;
}

#history-accordion .accordion-item:not(:last-child) {
	margin-bottom: 6px;
}

#history-accordion .accordion-button {
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#history-accordion .accordion-button:not(.collapsed) {
	color: var(--siakng-dark-blue);
	background-color: var(--siakng-pale-blue);
}

#history-accordion .accordion-body, .collapsing {
	border-radius: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	text-align: left;
}

#history-accordion .accordion-button::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --%3E%3Cpath d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3E%3C/svg%3E");
	transform-origin: 25% 50%;
}

.spinner-container {
	width: 100%;
	min-height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1040px) {
	.payment > .history table {
		font-size: 14px;
	}
}

@media screen and (max-width: 960px) {
	#history-table {
		display: none;
	}
	
	#history-accordion {
		display: initial;
	}
}

@media screen and (max-width: 575px) {
	.payment > .header {
		font-size: 20px;
	}
	
	.payment > .latest-status {
		width: auto;
		margin-inline: 20px;
		font-size: 14px;
	}
	
	.payment .latest-status-table {
		width: fit-content;
	}
	
	.payment > .latest-status .header,
	.payment > .history .header {
		font-size: 16px;
		text-align: center;
	}

	.payment > .latest-status .key {
		padding-right: 40px;
	}
	
	.payment > .deadline {
		font-size: 16px;
	}
	
	.payment > .history {
		width: 100%;
		padding: 0;
		margin: 20px 0 40px 0;
		box-shadow: none;
		background-color: transparent;
	}
	
	#history-table {
		font-size: 12px;
	}
	
	.payment > .history th,
	.payment > .history td {
		padding: 5px;
	}
}

@media screen and (max-width: 360px) {
	.payment {
		margin: 0 20px;
	}
}